.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  height: 80px;
  background: white;
}

.logo {
  max-height: 100px;
  width: auto;
  object-fit: contain;
}


.navbar-Products {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navbar-Products a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar-right { display: flex; align-items: center; gap: 20px; }
/* SIGN IN BUTTON */
.navbar-right button {
  padding: 8px 22px;
  border-radius: 50px;
  border: 1px solid #ff7a18;
  background: #ff7a18;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover effect */
.navbar-right button:hover {
  background: white;
  color: #ff7a18;
}

/* Active click */
.navbar-right button:active {
  transform: scale(0.95);
}


.hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 750px) {
  .hamburger {
    display: block;
  }
  @media (max-width: 750px) {
    .navbar-right button {
      display: none;
    }
  }
  
  .navbar-Products {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 100;
  }

  .navbar-Products.open {
    display: flex;
  }

  .navbar-right button {
    display: none;
  }
}
