/*.header{
    height: 34vh;
    margin: 30px auto;
    background: url(./header_img.png) no-repeat center center;
    background-size:contain ; 
    width: 100%; 
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    color: white;
    z-index: 10;
  }*/

  .header {
    width: 100%; 
    height: 500px; 
    margin: 30px auto; 
    background: url(./header_img.png) no-repeat center center; 
    background-size: contain; 
    position: relative; 
  }
  
  .header-contents {
    position: absolute; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-end; 
    gap: 1.5vw; 
    width: 50%; 
    bottom: 10%; 
    left: 6%; 
    color: white; 
    z-index: 10; 
    animation: fadeIn 3s;
  }
  
  .header-contents h1{
    font-weight: 500;
    color: white;
    font-size:max(4.5vw,22px);
  }
  .header-contents p{
    color: white;
    font-size: 1vw;
  }
  
  
  .header-contents button {
    padding: 1vw 2.3vw;
    border: none;
    background-color: #fff; /* Button background */
    color: #333; /* Button text color */
    font-weight: 500;
    border-radius: 50px; /* Rounded corners */
    cursor: pointer;
    font-size: max(1vw,13px);
  }
  @media (max-width:1050px) {
   
    .header-contents{
      max-width: 45%;
    }
  }
  @media (max-width:750px) {
   
    .header-contents{
      max-width: 65%;
    }
    .header-contents p{
      display: none;
    }
    .header-contents button{
      padding: 2vw 4vw;
    }
  }
  